<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/112/112778.png?w=826&t=st=1679428238~exp=1679428838~hmac=b195cb29c9467e70b5e1912d47af35d600906e67ff5b4b5f3c7346a2427c77b0" type="image/x-icon"/>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <h1>Timestamp Microservice</h1>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </nav>
    </header>
    <main>
      <section>
        <h2>Example Usage:</h2>
        <ul>
          <li><a href="/api/2015-12-25">https://timestamp.abdelrahmen1.repl.co/api/2015-12-25</a></li>
          <li><a href="/api/1451001600000">https://timestamp.abdelrahmen1.repl.co/api/1451001600000</a></li>
        </ul>
      </section>
      <section>
        <h2>Example Output:</h2>
        <pre>
          <code>
            {"unix": 1451001600000, "utc": "Fri, 25 Dec 2015 00:00:00 GMT"}
          </code>
        </pre>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
